html, body {
    height: 100%;
}

* {
    font-family: arial,sans-serif;
}


header {
    text-align: center;
    background-color: yellow;
    border: 1px solid black;
    margin: 0 auto;
    height: 15%;
}

#main_content {
    text-align: center;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-top: 0;
    padding-top: 5%
}

li {
    display: inline-block;
}